<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Words</title>
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app">
      <input
        type="text"
        :autofocus="'autofocus'"
        placeholder="type and press enter"
        @change="pushHistory"
        v-model.lazy.trim="searchTerm"
      />
      <details>
        <summary>Definitions</summary>
        <p v-for="definition in definitions">{{definition}}</p>
      </details>

      <div id="more">
        <a
          target="_blank"
          :href="'https://www.thesaurus.com/browse/' + searchTerm"
          >More</a
        >
      </div>

      <div id="results">
        <column
          v-for="column in columns"
          :type="column.type"
          :search-key="column.searchKey"
          :search-term="searchTerm"
          @search-for-term="searchForTerm"
        ></column>
      </div>
    </div>
    <a id="reference" href="http://www.datamuse.com/api/">Reference</a>
    <script src="vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
